html, body, .root {
  height: 100%;
}
*,*:after,*:before {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}
body, .app {
  background-color: #F4F4F4;
}
a {
  text-decoration: none;
}

/* main page */

.list-books {
  position: relative;
  background-color: #F4F4F4;
}
.list-books:after {
  clear: both;
  display: table;
  content: '';
}
.list-books-title {
  padding: 20px 0;
  background: url(https://image.flaticon.com/icons/svg/183/183327.svg) no-repeat;
  background-position: 99%;
  background-size: 57px;
  background-color: #39393A;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
.list-books-title h1 {
  font-weight: 300;
  margin: 0;
  color: white;
  text-align: left;
  padding-left: 30px;
  font-size: 24px;
}
.list-books-left-nav {
  position: fixed;
  width: 330px;
  padding: 170px 0px 0px;
}
.list-books-left-nav .shelf-button {
  width: 100%;
  margin-bottom: 30px;
  text-align: right;
}
.list-books-left-nav a {
  width: 80%;
  padding: 15px 30px 15px 15px;
  color: rgba(0,0,0,0.87);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  cursor: pointer;
}
.list-books-left-nav .shelf-button:nth-of-type(1) a {
  background: url(https://image.flaticon.com/icons/svg/179/179512.svg) no-repeat;
  background-color: rgba(0,0,0,.08);
  background-size: 40px;
  background-position: 15px 8px;
}
.list-books-left-nav .shelf-button:nth-of-type(2) a {
  background: url(https://image.flaticon.com/icons/svg/164/164995.svg) no-repeat;
  background-color: rgba(0,0,0,.08);
  background-size: 40px;
  background-position: 13px 10px;
}
.list-books-content {
  float: right;
  padding: 170px 0 80px;
  width: 75%;
}
.bookshelf {
  padding: 0 10px 20px;
}
@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}
.bookshelf-title {
  border-bottom: 1px solid #dedede;
  margin-top: 0px;
}
.bookshelf-books {
  text-align: center;
}
.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* search page */

.search-right {
  width: 75%;
  float: right;
  position: relative;
}

.search-books-bar {
  width: 90%;
  position: absolute;
  top: 170px;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 270px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}
.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  cursor: pointer;
  transition: transform .2s linear;
  -webkit-transition: -webkit-transform .2s linear;
  -moz-transition: -moz-transform .2s linear;
  -o-transition: -o-transform .2s linear;
}
.book-cover:hover {
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -o-transform: scale(1.06);
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* book cover */

.book-modal {
  position: fixed;
  width: 600px;
  background-color: #CCC;
  min-height: 400px;
  z-index: 99999;
  border-radius: 5px;
  top: 200px;
  left: 50%;
  margin-left: -300px;
  display: none;
}
.book-modal .row {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
}
.book-modal .row:after {
  clear: both;
  display: table;
  content: ' ';
}
.book-modal .left-column {
  float: left;
  width: 40%;
}
.book-modal .right-column {
  float: left;
  width: 60%;
}
.book-modal .right-column p {
  margin-top: 0px;
}

.book-modal .book-cover {
  margin-left: auto;
  margin-right: auto;
}
.book-modal h2 {
  text-align: center;
}
.book-modal h2 + p {
  text-align: center;
}
.book-modal .x-button {
  position: absolute;
  font-size: 30px;
  color: #000;
  top: 0px;
  right: 10px;
  cursor: pointer;
}
.book-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  background: rgba(0,0,0,0.8);
}

